    header, body {
      font-family: 'Montserrat', sans-serif;
    }

    .container-fluid {
      margin: 0px 15px 0px 15px;
    }

    #t {
      background-color: #8C1515;
      color: #FFFFFF;
      text-align: center;
      font-family: 'Source Serif Pro', serif;
      font-size: 30px;
      font-weight: bold;
      margin: 0px 0px 25px 0px;

    }

    #t-fullsearch, #t-letter {
      font-weight: bold;
      font-family: 'Source Serif Pro', serif;
      color: #8C1515;
    }

    #t-fullsearch {
      text-align: right;
      font-size: 15px;
    }

    #t-letter {
      font-size: 40px;
    }

    .table {
      margin: 0px 15px 0px 15px;
    }

    hr {
      border-color: #8C1515;
      border-width: 3px;
    }

    .table > tbody > tr > td {
      vertical-align: top;
    }

    .search, .search-input {
      padding: 10px; 
    }

    .buttons {
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 41px;
    }